html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

button {
    margin-top: 5px;
    margin-right: 5px;
}

span.ui-icon {
    float: left;
    margin: 0 4px;
}

#listTable td {
    padding: 5px;
}

.ui-widget-header {
    display: inline-block;
}

.ui-corner-all {
    display: inline-block;
}

.search_position{
    float: left;
    padding: 4px 0;
}

.search_position_2 {
    float: left;
    padding: 2px 0;
}

.ui-state-default {
    padding: 1px 0;
}

#search_container {
    position: absolute;
    z-index: 10;
    padding-left: 2px;
}

#genus {
    position: absolute;
    left: 260px;
    z-index: 10;
    top: 0px;
}

#species {
    position: absolute;
    left: 340px;
    z-index: 10;
    top: 0px;
}

#submit {
    position: absolute;
    left: 433px;
    z-index: 10;
    top: 0px;
}

#radio {
    position: absolute;
    top: 35px;
    z-index: 10;
    padding-left: 2px;
    padding-top: 5px;
}

#search_bar {
    float: left;
    padding: 1px 0;
}

#map_selector {
    position: absolute;
    bottom: 0px;
    right: 3%;
    z-index: 10;
    padding: 0 0;
}

.ui-autocomplete {
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 50px;
    max-width: 140px;
    height: 200px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}

#tool_bar_tabs {
    font: 62.5% "Trebuchet MS", sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

#layer_control_container {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

#layer_control {
    width: 150px;
}

#layer_control_button {
    position: absolute;
    top: 0;
    right: 0;
    font: 82.5% "Trebuchet MS", sans-serif;
    background: #ff0000;
}

#welcome {
    height: 350px;
    width: 350px;
    z-index: 10;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 25%;
    font: 82.5% "Trebuchet MS", sans-serif;
    
}

#welcome_title {
    width: 340px;
    height: 50px;
    padding: 4px 0;
}

#welcome_close {
    width: 345px;
    position: relative;
    right: 0;
    top: 0;
}

#search_spatial {
    position: absolute;
    top: 0;
    right: 15%;
    font: 82.5% "Trebuchet MS", sans-serif;
    display: inline-block;
    height: 30px;
    padding: 2.5px 0;
}

#set_distance {
    position: absolute;
    right: 0;
    top: 0;
}

#QueryListing {
    width: 220px;
    position: absolute;
    left: 1%;
    top: 100px;
    background-color: #EEE;
}

#QueryTable {
    overflow-y: auto;
    height: 500px;
}

#listTable{
     height: 500px;
     tr{height: 15px};
}

#hide {
    position: absolute;
    bottom: -35px;
}

#plot {
    position: absolute;
    bottom: -35px;
    left:100px;
}

#ToggleUI {
    position: absolute; 
    width: 300px; 
    bottom: 0px;
    right: 25%;
    left: 50%;
    margin-left:-150px;
}

.dropdown-menu {
    max-height: 225px;
    overflow-x: hidden;
}

.dropdown-menu li {
    width: 100%;
}